/** @format */

.main-cards-group .card {
  margin: 1rem;
  justify-content: space-between;
  background-color: rgba(203, 120, 219, 0.1);
  border-radius: 3rem;
}

#card-btn {
  border: 1px solid grey;
  color: black;
}
#card-btn:hover {
  color: yellow;
  border: 1px solid yellow;
  padding: 0.3rem;
}
