/** @format */
.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-app h1:hover {
  color: darkblue;
}
.todo-form {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.todo-form input {
  height: 2.5rem;
  border: 1px solid darkblue;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

#add-btn {
  width: 7rem;
  background-color: darkblue;
  height: 2.5rem;
  color: white;
  font-weight: 700;
  padding: 0.2rem;
  border-radius: 0.4rem;
  align-self: center;
  font-size: 0.7rem;
}
.todos-list {
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  flex-wrap: wrap;
}

#todo-card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.22);
  margin: 0.5rem;
  border: 1px solid darkblue;
}

#todo-card .card-text {
  padding: 0.2rem;
  margin-bottom: 0;
  color: darkblue;
  font-weight: 900;
  font-size: 1.6rem;
}
#todo-card .card-header {
  cursor: pointer;
  margin: 0.5rem;
  color: rgb(73, 42, 197);
  font-weight: 600;
  font-size: 1rem;
  background-color: rgb(213, 213, 240);
  border-radius: 0.2rem;
}

#todo-card .card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
}
#todo-card .card-footer .my-icons {
  background-color: none;
}

#todo-card .card-footer .complete-icon {
  color: green;
  margin: 1rem;
}
#todo-card .card-footer .delete-icon {
  color: rgb(128, 0, 0);
  margin: 1rem;
}
