/** @format */
* {
  font-family: raleway;
}
.carousel-style h3 {
  color: black;
  margin:auto;
  font-size: bolder;
  background-color: white;
  width: 10em;
  
}

.carousel-style p {
  margin:auto;
  color: black;
  background-color: white;
  width: 17.5em;
}

.visually-hidden {
  color: black;
}
.carousel-control-next-icon {
  color: black;
}

.d-block {
  height: 40rem;
}
